

<!-- <div class="filter-buttons">
    <button (click)="filterChange('all')">Todas</button>
    <button (click)="filterChange('closed')">Concluidas</button>
    <button (click)="filterChange('open')">Pendentes</button>
</div> -->

<!-- <section class="cards-container">
    <div *ngFor="let t of listToDo" class="card" [style.background-color]="getRandomColor()">
        <div>
            <div class="title">
                <h1>{{ t.title }}</h1>
            </div>
            <div class="description">
                <p>{{ t.description }}</p>
            </div>
            <div class="flex gap-2 items-end">
                <i class="fa-regular fa-calendar"></i>
                <p>{{ t.dateEnd | date: 'MMM dd, yyyy' }}</p>
            </div>
        </div>
    </div>
</section> -->
<section class="cards-container">
    <div class="card" [style.background-color]="getRandomColor()">
        <div>

            <div class="btn">
                <button>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>

            <div class="title">
                <h1>Terminar Projeto</h1>
            </div>
            <div class="description py-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque architecto voluptatibus odit neque sit dignissimos excepturi iste. </p>
            </div>
            <div class="date">
                <i class="fa-regular fa-calendar"></i>
                <p>Mar 02, 2023</p>
            </div>
        </div>
    </div>



</section>
