<!-- <div class="filter-buttons">
    <button (click)="filterChange('all')">Todas</button>
    <button (click)="filterChange('closed')">Concluidas</button>
    <button (click)="filterChange('open')">Pendentes</button>
</div> -->
{{ listToDo | json }}
<section class="cards-container">
    <div class="card" *ngFor="let t of listToDo; index as i" [style.background-color]="t.color">
        <div class="completed-{{t.completed}}">
            <div class="top-conteiner">
                <div class="title">
                    <h1>{{ t.title }}</h1>
                </div>

                <div class="menu-toDo">
                    <button class="btn-menu" [matMenuTriggerFor]="menuToDoOptions">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu class="menu-option" #menuToDoOptions="matMenu">
                        <button mat-menu-item
                        (click)="checkedToDo(t)"
                        >
                            <mat-icon>check</mat-icon>
                            Completed
                        </button>
                        <button mat-menu-item
                        >
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                    </mat-menu>
                </div>
            </div>

            <div class="description py-5">
                <p> {{ t.description }} </p>
            </div>

            <div class="date">
                <i class="fa-regular fa-calendar"></i>
                <p>{{ t.dateEnd | date: 'MMM dd, yyyy' }}</p>
            </div>
        </div>
    </div>
</section>

