.cards-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    width: 80%;
    gap: 1rem;
    margin: auto;
}

.card {
    width: 20em;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2;
}

.date {
    display: flex;
    gap: 7px;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.568);
}

.btn {
    display: flex;
    justify-content: flex-end;
}

.btn button {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.445);
}